
om_hospital/models/__pycache__/patient.cpython-37.pyc
*.pyc
*.pyc
*.pyc
om_hospital/__pycache__/__init__.cpython-37.pyc
*.pyc
*.pyc
om_hospital/__pycache__/__init__.cpython-37.pyc
om_hospital/__pycache__/__init__.cpython-37.pyc
*.pyc
*.pyc
*.pyc
om_hospital/__pycache__/__init__.cpython-37.pyc
