<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2019 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
     ade setiawan
-->
<odoo>


<!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
<menuitem
        id="menu_hospital_root"
        name="Hospital"
        web_icon="om_hospital,static/description/dino.png"
        sequence="0"/>
    <menuitem
        id="menu_patient_master"
        name="Patient Details"
        parent="menu_hospital_root"
        sequence="0"/>
    <menuitem
        id="menu_appointment_master"
        name="Appointments"
        parent="menu_hospital_root"
        sequence="1"/>

    <menuitem
        id="menu_configuration"
        name="Configurations"
        parent="menu_hospital_root"
        sequence="1"/>

    <menuitem
        id="menu_cancel_appointment"
        name="Cancellation"
        parent="menu_appointment_master"
        action="cancel_appointment_view_action"
        sequence="2"/>


</odoo>
